RewriteEngine On

SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

RewriteRule ^api(/.*)?$ backend/public/index.php [QSA,L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteRule ^ index.html [L]
